@mixin responsive($device) {
	@if $device =='desktop' {
		@content;
	}

	@if $device =='tablet' {
		@media (max-width: 64em) {
			@content;
		}
	}

	@if $device =='mobile' {
		@media (max-width: 37.5em) {
			@content;
		}
	}
}

.noob-blocks-heading {
	@include responsive('desktop') {
		text-align: var(--heading-text-align-desktop, left);
	}

	@include responsive('tablet') {
		text-align: var(--heading-text-align-tablet, left);
	}

	@include responsive('mobile') {
		text-align: var(--heading-text-align-mobile, left);
	}

	.noob-blocks-heading-text {
		color: var(--heading-text-color, #000);
		font-family: var(--heading-font-family, sans-serif);
		font-size: var(--heading-font-size, 24px);
	}
}