.noob-blocks-heading {
	text-align: var(--heading-text-align, left);
	.noob-blocks-heading-text {
		color: var(--heading-text-color, #000);
		font-family: var(--heading-font-family, sans-serif);
		font-size: var(--heading-font-size, 24px);
	}
}